<a href="https://colab.research.google.com/github/pxv6460/Danl/blob/main/danl_m1_exam_Vitello_Peter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exam 1

**Question 1**

Find the top 5 beer markets in terms of the number of households that purchased beer.
Find the top 5 beer markets in terms of the amount of total beer consumption.

In [3]:
import pandas as pd
path = 'https://bcdanl.github.io/data/beer_markets.csv'
beer_mkts = pd.read_csv(path)

beer_mkts
# find top 5 beer markets based on the number of households that purchased beer
top_househld = beer_mkts.groupby('market')['hh'].sum().nlargest(5)

print(top_househld)

# top 5 beer markets in terms of total consumption
top_comsum = beer_mkts.groupby('market')['beer_floz'].sum().nlargest(5)

print('-------------------------------------------')

print(top_comsum)

market
TAMPA                   52170180611
RURAL TEXAS             33756538194
INDIANAPOLIS            31940227749
RURAL SOUTH CAROLINA    31603894497
RURAL WISCONSIN         31115644445
Name: hh, dtype: int64
-------------------------------------------
market
TAMPA          890418.0
PHOENIX        675318.0
MIAMI          632684.0
SAN ANTONIO    631852.0
CHICAGO        558878.0
Name: beer_floz, dtype: float64

by using nlargest and sum I can get the total amount of beer comsumption based on the markets and which households bought a lot of beer

**Question 2**

For households that purchased BUD LIGHT at least once, what fraction of households did purchase only BUD LIGHT?

For households that purchased BUSCH LIGHT at least once, what fraction of households did purchase only BUSCH LIGHT?

For households that purchased COORS LIGHT at least once, what fraction of households did purchase only COORS LIGHT?

For households that purchased MILLER LITE at least once, what fraction of households did purchase only MILLER LITE?

For households that purchased NATURAL LIGHT at least once, what fraction of households did purchase only NATURAL LIGHT?

Which beer brand does have the largest proportion of such loyal consumers?

In [5]:
# filter the dataframe to find households that purchased the brand of beer at least once
bud_house = beer_mkts[beer_mkts['brand'] == 'BUD LIGHT']['hh'].unique()
busch_house = beer_mkts[beer_mkts['brand'] == 'BUSCH LIGHT']['hh'].unique()
coors_house = beer_mkts[beer_mkts['brand'] == 'COORS LIGHT']['hh'].unique()
miller_house = beer_mkts[beer_mkts['brand'] == 'MILLER LITE']['hh'].unique()
natural_house = beer_mkts[beer_mkts['brand'] == 'NATURAL LIGHT']['hh'].unique()

# calculate the fraction of hh that only purchased one brand by subtracting the other brands then dividing by the brand we are trying to calculate for
bud_only = len(set(bud_house) - set(busch_house) - set(coors_house) - set(miller_house) - set(natural_house)) / len(set(bud_house)) #if len(set(bud_house)) != 0 else 0
busch_only = len(set(busch_house) - set(bud_house) - set(coors_house) - set(miller_house) - set(natural_house)) / len(set(busch_house)) #if len(set(busch_house)) != 0 else 0
coors_only = len(set(coors_house) - set(bud_house) - set(busch_house) - set(miller_house) - set(natural_house)) / len(set(coors_house)) #if len(set(coors_house)) != 0 else 0
miller_only = len(set(miller_house) - set(bud_house) - set(busch_house) - set(coors_house) - set(natural_house)) / len(set(miller_house)) #if len(set(miller_house)) != 0 else 0
natural_only = len(set(natural_house) - set(bud_house) - set(busch_house) - set(coors_house) - set(miller_house)) / len(set(natural_house)) #if len(set(natural_house)) != 0 else 0


print(bud_only, busch_only, coors_only, miller_only, natural_only)

# find the brand with the largest proportion of loyal consumers
loyal_consumers_fract = {
    'Bud Light': bud_only,
    'Busch Light': busch_only,
    'Coors Light': coors_only,
    'Miller LITE': miller_only,
    'Natural Light': natural_only
}

max_loyal = max(loyal_consumers_fract, key=loyal_consumers_fract.get)
print(max_loyal)

0.6600815975950183 0.47297297297297297 0.639080459770115 0.6312989045383411 0.5096234309623431
Bud Light

by using the max function I can get the largest fraction out of the 5 brands and by using my calcuations I can get the households that only bought one brand

**Question 3**

Summarize the mean vale of revenue for each group of search_stays_on and for each date.

In [7]:
import pandas as pd
paidsearch = pd.read_csv('https://bcdanl.github.io/data/paidsearch.csv')

paidsearch

            date  dma  treatment_period  search_stays_on       revenue
0       1-Apr-12  500                 0                0  7.671874e+04
1       1-Apr-12  501                 0                1  2.096177e+06
2       1-Apr-12  502                 0                1  3.499385e+04
3       1-Apr-12  503                 0                1  3.419875e+04
4       1-Apr-12  504                 0                1  6.410142e+05
...          ...  ...               ...              ...           ...
23725  22-Jul-12  855                 1                1  6.723426e+04
23726  22-Jul-12  862                 1                1  2.693048e+05
23727  22-Jul-12  866                 1                0  1.015611e+05
23728  22-Jul-12  868                 1                1  3.464549e+04
23729  22-Jul-12  881                 1                1  8.702989e+04

[23730 rows x 5 columns]

In [8]:


# Convert date column to datetime format so it reads properly
paidsearch['date'] = pd.to_datetime(paidsearch['date'])

# groupby date and search on then calculate the mean revenue
mean_rev_date = paidsearch.groupby(['date', 'search_stays_on'])['revenue'].mean().round(2)

print(mean_rev_date)

date        search_stays_on
2012-04-01  0                   93650.68
            1                  120277.57
2012-04-02  0                  113057.92
            1                  141701.16
2012-04-03  0                  114255.77
                                 ...
2012-07-20  1                  129653.84
2012-07-21  0                   85027.57
            1                  107194.27
2012-07-22  0                   91131.29
            1                  116001.55
Name: revenue, Length: 226, dtype: float64

by using groupby i can group the dataframe to show by date and search stay on then by using the mean function i can find the mean value of the revenue for each date

**Question 4**

Calculate the log difference between mean revenues in each group of search_stays_on. (This is the log of the average revenue in group of search_stays_on == 1 minus the log of the average revenue in group of search_stays_on == 0.)

In [36]:
import pandas as pd
import numpy as np
paidsearch = pd.read_csv('https://bcdanl.github.io/data/paidsearch.csv')

# Convert date column to datetime format so it reads properly
paidsearch['date'] = pd.to_datetime(paidsearch['date'])

# groupby date and search on then calculate the mean revenue
mean_rev_date = paidsearch.groupby(['search_stays_on', 'date'])['revenue'].mean().fillna(0).unstack()

#print(mean_rev_date)
#print(mean_rev_date.columns)

# Calculate the log difference
log_diff = np.log(mean_rev_date['2012-04-01']) - np.log(mean_rev_date['2012-04-02'])

print(log_diff)

search_stays_on
0   -0.188329
1   -0.163918
dtype: float64

In [54]:
import pandas as pd
import numpy as np

def calculate_log_difference(data, revenue_col='revenue', treatment_col='search_stays_on', date_col='date'):
    """
    This function calculates the log difference between mean revenues for each group for every date.

    Args:
        data: A pandas DataFrame containing columns with revenue and a treatment group identifier.
        revenue_col: The name of the column containing revenue values (defaults to 'revenue').
        treatment_col: The name of the column containing the treatment group identifier (defaults to 'search_stays_on').

    Returns:
        A pandas Series containing the log difference for each date.
    """
    # Group data by date and treatment group
    grouped_data = data.groupby([date_col, treatment_col])

    # Calculate mean revenue for each treatment group for every date
    mean_revenue = grouped_data[revenue_col].mean().unstack().fillna(0)

    print("Mean Revenue:")
    print(mean_revenue)

    # Calculate log difference
    log_difference = np.log(mean_revenue.diff())

    # Replace inf and -inf with NaN
    log_difference = log_difference.replace([np.inf, -np.inf], np.nan)

    return log_difference

paidsearch = pd.read_csv('https://bcdanl.github.io/data/paidsearch.csv')

log_diff = calculate_log_difference(paidsearch, revenue_col='revenue', treatment_col='search_stays_on', date_col='date')

print("Log Difference:")
print(log_diff)

Mean Revenue:
search_stays_on              0              1
date
1-Apr-12          93650.675824  120277.567977
1-Jul-12          84992.376494  110084.439448
1-Jun-12         106093.754576  133987.564344
1-May-12         123296.499318  154773.185324
10-Apr-12        119411.564929  146624.606011
...                        ...            ...
8-May-12         114724.914776  142712.709668
9-Apr-12         114086.110235  142299.203172
9-Jul-12         115452.370482  145901.554783
9-Jun-12          80096.385494  105132.224282
9-May-12         113425.081200  140548.654090

[113 rows x 2 columns]
Log Difference:
search_stays_on          0          1
date
1-Apr-12               NaN        NaN
1-Jul-12               NaN        NaN
1-Jun-12          9.957094  10.081764
1-May-12          9.752824   9.942017
10-Apr-12              NaN        NaN
...                    ...        ...
8-May-12          9.587213   9.585559
9-Apr-12               NaN        NaN
9-Jul-12          7.219833   8.189342
9-Jun-12               NaN        NaN
9-May-12         10.414174  10.474931

[113 rows x 2 columns]

by defining my own I am able to make custom columns for date mean revenue and search says on and I can calculate the log difference by using the .diff function

**Question 5**

In DataFrame, NFL2023_stuffs, remove observations for which values of posteam is missing.

In [57]:
import pandas as pd

NFL2023_stuffs = pd.read_csv('https://bcdanl.github.io/data/NFL2023_stuffs.csv')

# Remove observations with missing values in the 'posteam' column
NFL2023_stuffs = NFL2023_stuffs.dropna(subset=['posteam'])

print(NFL2023_stuffs)

       play_id          game_id  drive  week posteam  qtr  down  \
1           39  2023_01_ARI_WAS    1.0     1     WAS    1   NaN
2           55  2023_01_ARI_WAS    1.0     1     WAS    1   1.0
3           77  2023_01_ARI_WAS    1.0     1     WAS    1   2.0
4          102  2023_01_ARI_WAS    1.0     1     WAS    1   3.0
5          124  2023_01_ARI_WAS    1.0     1     WAS    1   1.0
...        ...              ...    ...   ...     ...  ...   ...
49660     4791    2023_22_SF_KC   26.0    22      KC    5   3.0
49661     4813    2023_22_SF_KC   26.0    22      KC    5   1.0
49662     4835    2023_22_SF_KC   26.0    22      KC    5   2.0
49663     4860    2023_22_SF_KC   26.0    22      KC    5   1.0
49664     4881    2023_22_SF_KC    NaN    22      KC    5   NaN

       half_seconds_remaining  pass        wp
1                      1800.0     0  0.546262
2                      1800.0     0  0.546262
3                      1770.0     1  0.539621
4                      1735.0     0  0.555987
5                      1696.0     1  0.572573
...                       ...   ...       ...
49660                   127.0     1  0.648316
49661                    86.0     0  0.857837
49662                    50.0     1  0.849875
49663                     6.0     1  0.871640
49664                     3.0     0       NaN

[47027 rows x 10 columns]

By using the dropna function I am able to remove missing values for the postream variabe in the dataframe

**Question 6**

Calculate the mean value of pass for each posteam when all the following conditions hold:
wp is greater than 20% and less than 75%;
down is less than or equal to 2; and
half_seconds_remaining is greater than 120.

In [58]:
# filter the Dataframe based on the conditions above
filtered_dataf = NFL2023_stuffs[(NFL2023_stuffs['wp'] > .2) & (NFL2023_stuffs['wp'] < .75) & (NFL2023_stuffs['down'] <= 2) & (NFL2023_stuffs['half_seconds_remaining'] > 120)]

# calculate the mean pass value for each posteam
mean_pss_post = filtered_dataf.groupby('posteam')['pass'].mean()

print(mean_pss_post)

posteam
ARI    0.461197
ATL    0.462963
BAL    0.577002
BUF    0.544256
CAR    0.460554
CHI    0.476658
CIN    0.624176
CLE    0.539877
DAL    0.576355
DEN    0.500000
DET    0.504016
GB     0.509728
HOU    0.501053
IND    0.521042
JAX    0.526932
KC     0.609294
LA     0.550752
LAC    0.571956
LV     0.491003
MIA    0.532995
MIN    0.532544
NE     0.507592
NO     0.498952
NYG    0.523077
NYJ    0.492958
PHI    0.570265
PIT    0.447791
SEA    0.545098
SF     0.534553
TB     0.511719
TEN    0.465979
WAS    0.606335
Name: pass, dtype: float64

by using the groupby function I am able to use my filtered dataframe to find the mean value for the pass varaible for every team with possession

**Question 7**

Create the DataFrame, NFL2023_stuffs_EPA, that includes
All the variables in the DataFrame, NFL2023_stuffs;
The variables, passer, receiver, and epa, from the DataFrame, NFL2023_epa. by joining the two DataFrames.
In the resulting DataFrame, NFL2023_stuffs_EPA, remove observations with NA in passer.

In [62]:
import pandas as pd
NFL2023_stuffs = pd.read_csv('https://bcdanl.github.io/data/NFL2023_stuffs.csv')
NFL2023_epa = pd.read_csv('https://bcdanl.github.io/data/NFL2023_epa.csv')

# Merge the two DataFrames on common columns
NFL2023_stuffs_EPA = pd.merge(NFL2023_stuffs, NFL2023_epa[['play_id', 'passer', 'receiver', 'epa']], on='play_id', how='left')

# Remove NA observations in passer
NFL2023_stuffs_EPA = NFL2023_stuffs_EPA.dropna(subset=['passer'])


NFL2023_stuffs_EPA

,play_id,game_id,drive,week,posteam,qtr,down,half_seconds_remaining,pass,wp,passer,receiver,epa
202,55,2023_01_ARI_WAS,1.0,1,WAS,1,1.0,1800.0,0,0.546262,D.Ridder,D.Ridder,-1.515348
204,55,2023_01_ARI_WAS,1.0,1,WAS,1,1.0,1800.0,0,0.546262,G.Smith,T.Lockett,0.043212
206,55,2023_01_ARI_WAS,1.0,1,WAS,1,1.0,1800.0,0,0.546262,J.Hurts,K.Gainwell,0.273446
207,55,2023_01_ARI_WAS,1.0,1,WAS,1,1.0,1800.0,0,0.546262,K.Pickett,G.Pickens,0.245755
209,55,2023_01_ARI_WAS,1.0,1,WAS,1,1.0,1800.0,0,0.546262,L.Jackson,I.Likely,0.620754
...,...,...,...,...,...,...,...,...,...,...,...,...,...
632546,4791,2023_22_SF_KC,26.0,22,KC,5,3.0,127.0,1,0.648316,W.Levis,D.Hopkins,1.535999
632547,4791,2023_22_SF_KC,26.0,22,KC,5,3.0,127.0,1,0.648316,P.Mahomes,NaN,1.728891
632550,4835,2023_22_SF_KC,26.0,22,KC,5,2.0,50.0,1,0.849875,P.Mahomes,T.Kelce,-0.637115
632551,4860,2023_22_SF_KC,26.0,22,KC,5,1.0,6.0,1,0.871640,P.Mahomes,M.Hardman,3.102806
632554,4881,2023_22_SF_KC,NaN,22,KC,5,NaN,3.0,0,NaN,T.Siemian,Bre.Hall,0.435069

by using the merge function I am able to combine the 2 dataframes based on common varables in the dataframes and add the passer receiver and epa varaibles. Then Im able to remove all observations that have a value of na for passer using dropna