<a href="https://colab.research.google.com/github/pxv6460/Danl/blob/main/danl_m1_hw5_Vitello_Peter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework 5

**Question 1**

In [7]:
import pandas as pd

fao = pd.read_csv("https://bcdanl.github.io/data/fao_stat.csv",
                  encoding = 'ISO-8859-1')
# round just tells us how many numbers there will be after the decimal
missing_percentage = (fao.isna().mean() * 100).round(3)

# Display the result
print(missing_percentage)

SSA                     0.000
Area                    0.000
Year                    0.000
gdp_per_capita          8.414
drinking_water          3.991
sanitation_service      4.423
children_stunted       24.272
children_overweight    24.272
investment_pct          3.398
dtype: float64

using the isna function I can identiy missing values in the data frame

**Question 2**

In [13]:
# gets the mean value for the gdp per cap
gdp_mean = fao['gdp_per_capita'].mean()

fao['gdp_per_capita'].fillna(gdp_mean, inplace = True)

fao['gdp_per_capita']

0       2075.5
1       2116.5
2       2102.4
3       2068.3
4       2057.1
         ...
1849    3678.2
1850    3795.6
1851    3923.0
1852    3630.0
1853    3353.4
Name: gdp_per_capita, Length: 1854, dtype: float64

finding the fillna function online I see it can be used to fill all missing values for gdp per cap

**Question 3**

In [14]:
fao.dropna(subset=['drinking_water', 'sanitation_service'], inplace=True)

fao

,SSA,Area,Year,gdp_per_capita,drinking_water,sanitation_service,children_stunted,children_overweight,investment_pct
0,False,Afghanistan,2012,2075.5,53.4,38.0,44.7,5.3,20.378670
1,False,Afghanistan,2013,2116.5,56.0,39.5,43.4,5.2,17.844328
2,False,Afghanistan,2014,2102.4,58.7,41.1,42.1,5.0,13.033419
3,False,Afghanistan,2015,2068.3,61.3,42.6,41.1,4.8,13.702608
4,False,Afghanistan,2016,2057.1,64.1,44.2,39.9,4.6,13.405886
...,...,...,...,...,...,...,...,...,...
1849,True,Zimbabwe,2016,3678.2,64.5,37.5,25.8,4.0,9.969622
1850,True,Zimbabwe,2017,3795.6,64.0,36.9,24.9,3.9,9.925806
1851,True,Zimbabwe,2018,3923.0,63.5,36.4,24.2,3.8,9.899619
1852,True,Zimbabwe,2019,3630.0,63.1,35.8,23.5,3.7,9.931683
1853,True,Zimbabwe,2020,3353.4,62.7,35.2,23.0,3.6,9.919036

this code using subset drops all observations that have a missing value for drinking water and san service

**Question 4**

In [17]:
# calculate average drinkwater
average_drink_water = fao.groupby(['Area', 'SSA'])['drinking_water'].mean().round(2);

print(average_drink_water)

Area                                SSA
Afghanistan                         False    64.16
Albania                             False    93.71
Algeria                             False    93.59
American Samoa                      False    99.00
Andorra                             False    99.00
                                             ...
Venezuela (Bolivarian Republic of)  False    94.39
Viet Nam                            False    93.87
Yemen                               False    56.76
Zambia                              True     62.14
Zimbabwe                            True     64.53
Name: drinking_water, Length: 201, dtype: float64

By using the groupby function I can group observations based on the area and the ssa and get the mean value for the drinking water

**Question 5**

In [18]:
# use same process for previous question
mean_sanitation = fao.groupby(['SSA', 'Year'])['sanitation_service'].mean().round(2);

print(mean_sanitation)

SSA    Year
False  2012    85.30
       2013    85.80
       2014    86.28
       2015    86.76
       2016    87.13
       2017    87.47
       2018    87.98
       2019    88.26
       2020    88.48
True   2012    34.33
       2013    35.02
       2014    35.67
       2015    36.35
       2016    37.00
       2017    38.21
       2018    36.91
       2019    37.53
       2020    36.57
Name: sanitation_service, dtype: float64

By using groupby again I can get the mean value for the sanitation service variable based on the year and SSA

**Question 6**

In [28]:
for year in fao['Year'].unique():
  # Filter the DataFrame for observations corresponding to the current year
  year_data = fao[fao['Year'] == year]

  # sort the filtered data by ascending value
  sorted_year_data = year_data.sort_values(by='drinking_water', ascending=True)

  # Select the first 5 rows to get the 5 worst countries for that year
  wrst_cntrys = sorted_year_data.head(5)
  print(wrst_cntrys[['Area', 'drinking_water', 'Year']])

                                  Area  drinking_water  Year
585                           Ethiopia            37.4  2012
1287                  Papua New Guinea            39.2  2012
477   Democratic Republic of the Congo            40.8  2012
1548                       South Sudan            41.2  2012
1728                            Uganda            43.2  2012
                                  Area  drinking_water  Year
586                           Ethiopia            39.0  2013
1288                  Papua New Guinea            40.0  2013
1549                       South Sudan            41.3  2013
478   Democratic Republic of the Congo            41.5  2013
316                               Chad            43.7  2013
                                  Area  drinking_water  Year
587                           Ethiopia            40.5  2014
1289                  Papua New Guinea            40.7  2014
1550                       South Sudan            41.3  2014
479   Democratic Republic of the Congo            42.1  2014
308           Central African Republic            43.4  2014
                                  Area  drinking_water  Year
1551                       South Sudan            41.2  2015
1290                  Papua New Guinea            41.5  2015
588                           Ethiopia            42.1  2015
309           Central African Republic            42.3  2015
480   Democratic Republic of the Congo            42.7  2015
                                  Area  drinking_water  Year
1552                       South Sudan            41.2  2016
310           Central African Republic            41.3  2016
1291                  Papua New Guinea            42.3  2016
481   Democratic Republic of the Congo            43.4  2016
589                           Ethiopia            43.6  2016
                                  Area  drinking_water  Year
311           Central African Republic            40.2  2017
1553                       South Sudan            41.1  2017
1292                  Papua New Guinea            43.0  2017
482   Democratic Republic of the Congo            44.0  2017
320                               Chad            45.1  2017
                                  Area  drinking_water  Year
312           Central African Republic            39.2  2018
1554                       South Sudan            41.0  2018
1293                  Papua New Guinea            43.8  2018
483   Democratic Republic of the Congo            44.6  2018
321                               Chad            45.5  2018
                                  Area  drinking_water  Year
313           Central African Republic            38.2  2019
1555                       South Sudan            40.8  2019
1294                  Papua New Guinea            44.6  2019
484   Democratic Republic of the Congo            45.3  2019
322                               Chad            45.8  2019
                                  Area  drinking_water  Year
314           Central African Republic            37.2  2020
1556                       South Sudan            41.0  2020
1295                  Papua New Guinea            45.3  2020
485   Democratic Republic of the Congo            46.0  2020
323                               Chad            46.2  2020

this code uses a for loop to filter and sort the year data by drinking water then stores the 5 lowest values for countries drinking water into a variable called wrst_cntrys

**Question 7**

In [30]:
# use the same process for the previous queston just using children_stunted

for year in fao['Year'].unique():
  # Filter the DataFrame for observations corresponding to the current year
  year_data = fao[fao['Year'] == year]

  # sort the filtered data by ascending value
  sorted_year_data = year_data.sort_values(by='children_stunted', ascending=True)

  # Select the first 5 rows to get the 5 worst countries for that year
  wrst_cntrys = sorted_year_data.head(5)
  print(wrst_cntrys[['Area', 'children_stunted', 'Year']])

             Area  children_stunted  Year
567       Estonia               1.3  2012
657       Germany               1.5  2012
1152  Netherlands               1.5  2012
324         Chile               1.9  2012
675        Greece               2.1  2012
             Area  children_stunted  Year
568       Estonia               1.3  2013
658       Germany               1.5  2013
1153  Netherlands               1.5  2013
325         Chile               1.9  2013
676        Greece               2.1  2013
             Area  children_stunted  Year
569       Estonia               1.3  2014
1154  Netherlands               1.5  2014
659       Germany               1.5  2014
326         Chile               1.8  2014
83      Australia               2.1  2014
             Area  children_stunted  Year
570       Estonia               1.3  2015
1155  Netherlands               1.5  2015
660       Germany               1.5  2015
327         Chile               1.8  2015
678        Greece               2.1  2015
             Area  children_stunted  Year
571       Estonia               1.3  2016
661       Germany               1.5  2016
1156  Netherlands               1.5  2016
328         Chile               1.7  2016
679        Greece               2.1  2016
             Area  children_stunted  Year
572       Estonia               1.2  2017
1157  Netherlands               1.5  2017
662       Germany               1.5  2017
329         Chile               1.7  2017
86      Australia               2.1  2017
             Area  children_stunted  Year
573       Estonia               1.2  2018
663       Germany               1.6  2018
330         Chile               1.6  2018
1158  Netherlands               1.6  2018
87      Australia               2.1  2018
             Area  children_stunted  Year
574       Estonia               1.2  2019
1159  Netherlands               1.6  2019
331         Chile               1.6  2019
664       Germany               1.6  2019
88      Australia               2.1  2019
             Area  children_stunted  Year
575       Estonia               1.2  2020
1160  Netherlands               1.6  2020
665       Germany               1.6  2020
332         Chile               1.6  2020
89      Australia               2.1  2020

By using the same code for question 6 but using the correct variable children stunted I get the correct outcome