<a href="https://colab.research.google.com/github/pxv6460/Danl/blob/main/danl_m1_hw4_Vitello_Peter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# HomeWork 4

In [ ]:
import pandas as pd

In [ ]:
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')

## Question 1

How many employees have a “Base Salary” within the top 10% of the DataFrame?

In [ ]:
import pandas as pd
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')
ninith_percentile = nyc_payroll['Base Salary'].quantile(0.9)

#filters employees with salary in top 10 %
tenth_percentile = nyc_payroll[nyc_payroll['Base Salary'] >= ninith_percentile]

num_employ = len(tenth_percentile)

print(num_employ)

200

using the quantile method I can calcuate the 90th percentile then by using the >= operator I can get the top 10 pecent of employees

In [ ]:
nyc_payroll

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
0,2022,740,DEPARTMENT OF EDUCATION ADMIN,DAVIS,OSCAR,NaN,07/06/2021,BRONX,SUBSTANCE ABUSE PREVENTION & INTERVENTION SPEC...,CEASED,53820.00,per Annum,805.0,24469.41,0.0,0.00,0.00
1,2022,746,DEPT OF ED PER DIEM TEACHERS,ZHOU,JUN,NaN,07/01/2020,MANHATTAN,TEACHER-GENERAL ED,ACTIVE,110.29,per Day,0.0,3387.59,0.0,0.00,0.00
2,2022,747,DEPT OF ED PER SESSION TEACHER,LOPEZ,YERIBEL,E,12/11/2001,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,20242.24,0.0,0.00,474.32
3,2022,742,DEPT OF ED PEDAGOGICAL,KENNEDY,VERA,R,04/08/2016,MANHATTAN,TEACHER,ACTIVE,79687.00,per Annum,0.0,74904.27,0.0,0.00,-4474.44
4,2022,742,DEPT OF ED PEDAGOGICAL,LICHVAR,AMANDA,C,02/01/2007,MANHATTAN,TEACHER SPECIAL EDUCATION,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,5380.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2023,300,BOARD OF ELECTION POLL WORKERS,GARNER,GEOFFREY,O,01/01/2020,MANHATTAN,ELECTION WORKER,ACTIVE,1.00,per Hour,0.0,928.00,0.0,0.00,0.00
1996,2023,742,DEPT OF ED PEDAGOGICAL,FIGUEROA,JESSICA,A,02/08/2006,MANHATTAN,TEACHER ASSIGNED A,ACTIVE,109852.00,per Annum,0.0,109852.08,0.0,0.00,0.00
1997,2023,747,DEPT OF ED PER SESSION TEACHER,DIFORTE,DANIELLE,N,09/05/2017,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,1824.57,0.0,0.00,0.00
1998,2023,747,DEPT OF ED PER SESSION TEACHER,BIONDO,STEFANIE,NaN,10/03/2011,MANHATTAN,TEACHER- PER SESSION,ACTIVE,33.18,per Day,0.0,4384.04,0.0,0.00,0.61
1999,2023,827,DEPARTMENT OF SANITATION,ARIAS,ELPIDIO,NaN,07/11/2022,MANHATTAN,SANITATION WORKER,ACTIVE,44064.00,per Annum,2000.0,40473.72,128.5,5659.77,10995.37

## Question 2

Filter the DataFrame for employees who have “OT Hours” greater than 0 but less than 100, and their “Leave Status as of June 30” is “ACTIVE”.

In [5]:
# filters the data to make sure they are active and have inbetween 0 and 100 overtime hours
filtered_data = nyc_payroll[(nyc_payroll['OT Hours'] > 0) &
                             (nyc_payroll['OT Hours'] < 100) &
                             (nyc_payroll['Leave Status as of June 30'] == 'ACTIVE')]

filtered_data

,Fiscal Year,Payroll Number,Agency Name,Last Name,First Name,Mid Init,Agency Start Date,Work Location Borough,Title Description,Leave Status as of June 30,Base Salary,Pay Basis,Regular Hours,Regular Gross Paid,OT Hours,Total OT Paid,Total Other Pay
34,2022,996,NYC HOUSING AUTHORITY,GIRAUD,WAYNE,M,08/30/2010,QUEENS,INSPECTOR,ACTIVE,77091.00,per Annum,2160.00,79836.82,8.00,455.86,2308.50
48,2022,846,DEPT OF PARKS & RECREATION,ORMSBY,CLAUDE,NaN,06/27/1989,BROOKLYN,ADMINISTRATIVE PARKS & RECREATION MANAGER,ACTIVE,96444.00,per Annum,1820.00,96179.72,91.00,5765.34,3030.62
75,2022,841,DEPARTMENT OF TRANSPORTATION,RODRIGUEZ,HENRY,NaN,11/23/2015,MANHATTAN,COMMUNITY COORDINATOR,ACTIVE,62215.00,per Annum,1820.00,62044.58,49.75,1767.71,1427.45
81,2022,69,HRA/DEPT OF SOCIAL SERVICES,JAMES,DALE,NaN,05/29/2007,MANHATTAN,CASEWORKER,ACTIVE,55614.00,per Annum,1820.00,55461.64,48.00,1989.66,8757.05
121,2022,72,DEPARTMENT OF CORRECTION,CHAMBERS,BEULAH,R,09/08/2008,QUEENS,*COOK,ACTIVE,41388.00,per Annum,2080.00,41274.49,53.25,2089.25,14291.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1959,2023,846,DEPT OF PARKS & RECREATION,BROWN,SHANIA,K,04/15/2022,QUEENS,RECREATION SPECIALIST,ACTIVE,23.66,per Hour,1129.27,23714.66,20.67,415.00,2244.40
1970,2023,56,POLICE DEPARTMENT,COTHIA,NADEIGE,NaN,07/08/2008,BRONX,POLICE OFFICER,ACTIVE,101590.00,per Annum,2080.00,85058.22,6.65,452.34,14823.29
1974,2023,846,DEPT OF PARKS & RECREATION,BLACK,ISAIAH,NaN,04/27/2023,QUEENS,JOB TRAINING PARTICIPANT,ACTIVE,16.88,per Hour,231.50,3625.72,9.50,220.16,49.14
1977,2023,846,DEPT OF PARKS & RECREATION,GARDEN,DIEOSA,L,09/16/2022,MANHATTAN,JOB TRAINING PARTICIPANT,ACTIVE,16.88,per Hour,1352.33,22196.77,14.00,298.61,1434.77
1986,2023,69,HRA/DEPT OF SOCIAL SERVICES,MILLER,KAREN,NaN,12/12/1994,BROOKLYN,ELIGIBILITY SPECIALIST,ACTIVE,48293.00,per Annum,1820.00,44568.59,83.00,2623.18,9213.23

by using the and operator I am able to have multiple conditions to filter the data

## Question 3

Find the unique job titles in the “DEPARTMENT OF EDUCATION ADMIN” agency and count how many there are.

In [4]:
import pandas as pd
nyc_payroll = pd.read_csv('https://bcdanl.github.io/data/nyc_payroll_2022_2023.csv')

admin_data = nyc_payroll[nyc_payroll['Agency Name'] == 'DEPARTMENT OF EDUCATION ADMIN']

# get unique values for title discription
job_titles = admin_data['Title Description'].unique()

print(len(job_titles))

for title in job_titles:
  print(title)

26
SUBSTANCE ABUSE PREVENTION & INTERVENTION SPECIALIST
OCCUPATIONAL THERAPIST
PHYSICAL THERAPIST
COMMUNITY ASSOCIATE
PROCUREMENT ANALYST
ADMINISTRATIVE EDUCATION ANALYST
CERTIFIED IT ADMINISTRATOR
COMMUNITY COORDINATOR
SCHOOL BUSINESS MANAGER
RESEARCH ASSISTANT
SCHOOL LUNCH ASSISTANT
COMPUTER SYSTEMS MANAGER
ADMINISTRATIVE EDUCATION OFFICER
STAFF NURSE
RADIO REPAIR MECHANIC
THERMOSTAT REPAIRER
ADMINISTRATIVE STAFF ANALYST
DISTRICT MANAGER OF ADMINISTRATION AND BUSINESS AFFAIRS
COMMUNITY ASSISTANT
SCHOOL FOOD SERVICE MANAGER
ADMINISTRATIVE PROCUREMENT ANALYST
SECRETARY TO COMMUNITY SCHOOL BOARD
CUSTOMER INFORMATION REPRESENTATIVE MA L 1549
SCHOOL COMPUTER TECHNOLOGY SPECIALIST
SCHOOL LUNCH AIDE
SCHOOL LUNCH LOADER AND HANDLER

this code uses the unique function to get the total number of different job titles there are in the data frame

## Queston 4

Identify the employee(s) with the highest “Total OT Paid” in the DataFrame.
Include their “First Name”, “Last Name”, and “Total OT Paid”.

In [7]:
# finds the employee with the largests number of overtime paid
ht_ot_paid_empl = nyc_payroll.nlargest(1, 'Total OT Paid')

print(ht_ot_paid_empl[['First Name','Last Name', 'Total OT Paid']])

     First Name       Last Name  Total OT Paid
1199   EMMANUEL  KOUTSOULIDAKIS      126184.02

Using the nlargest function we are able to find the employee with the most total paid overtime

## Question 5

Find the five most popular songs.
A value of a song is defined as a combination of a artist_name value and a track_name value.
Who are artists for those five most popular songs?

In [9]:
spotify = pd.read_csv('https://bcdanl.github.io/data/spotify_all.csv')

spotify['song'] = spotify['artist_name'] + "---" + spotify['track_name']

count = spotify['song'].value_counts()

# gets the top 5 items in count
top5 = count.head(5)

for song, count in top5.items():
  print(song)

Drake---One Dance
Kendrick Lamar---HUMBLE.
The Chainsmokers---Closer
DRAM---Broccoli (feat. Lil Yachty)
Post Malone---Congratulations

using value counts I can get the count of all the songs plays

## Question 6

Create a DataFrame that only contains observations from playlists featuring the song “One Dance” by Drake.
Next, identify the song with the highest popularity after Drake’s “One Dance” in the newly created DataFrame.

In [14]:
import pandas as pd

spotify = pd.read_csv('https://bcdanl.github.io/data/spotify_all.csv')

# filter for observations featuring One Dance
playlist = spotify[(spotify['track_name'] == 'One Dance') & (spotify['artist_name'] == 'Drake')]

sorted = playlist.sort_index()

sorted

,pid,playlist_name,pos,artist_name,track_name,duration_ms,album_name
4240,71,boat,9,Drake,One Dance,173986,Views
6697,107,party people,34,Drake,One Dance,173986,Views
7784,123,w o r k o u t,123,Drake,One Dance,173986,Views
10661,161,English,44,Drake,One Dance,173986,Views
11205,169,Summer Chill,128,Drake,One Dance,173986,Views
...,...,...,...,...,...,...,...
192591,999903,mixx,117,Drake,One Dance,173986,Views
193991,999930,(Guilty),19,Drake,One Dance,173986,Views
194188,999933,Marathon,8,Drake,One Dance,173986,Views
195821,999964,old stuff,17,Drake,One Dance,173986,Views
197564,999990,Drake,0,Drake,One Dance,173986,Views

In [22]:
# identifies the second most popular song
othr_plylst = spotify[(spotify['track_name'] != 'One Dance') & (spotify['artist_name'] != 'Drake')]
othr_plylst['song'] = othr_plylst['artist_name'] + "---" + othr_plylst['track_name']

count = othr_plylst['song'].value_counts()
print(count.head(1))

Kendrick Lamar---HUMBLE.    142
Name: song, dtype: int64

<ipython-input-22-73e1667c78df>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  othr_plylst['song'] = othr_plylst['artist_name'] + "---" + othr_plylst['track_name']

using the value_counts function again I can eliminate one dance from the data frame and find the most popular song. My problem with this question is that there will be no other songs in the new dataframe made because it only finds the observations of one dance so I did this instead. I think I just found the second part of this question confusing